* {
    font-family: "Gowun Dodum", sans-serif;
  }


.mywishlist {
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 20px;

    box-shadow: 0px 0px 3px 0px gray;

}



/*------------------------------------------------*/




