{% extends "base.html" %}

{% block title %}나만의 리스트를 만들어보세요!{% endblock %}


<!-- contents -->
{% block contents %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">Regular shadow</div>
<div class="es_main_category">
    <div class="es_todo1">'
        <h1 class="es_text_catagorytitle" id="es_category_click">Wish</h1>
        <div class="es_smalltitle" draggable="true">
            <div class="es_smalltitleimg"></div>
            <span class ="d-inline-block text-truncate" style="max-width: 85px;">
                여기에 간이
                제목이 들어갑니다
            </span>
        </div>
    </div>
    <div class="es_todo2">
        <h1 class="es_text_catagorytitle">개발</h1>
            <div class="es_smalltitle" draggable="true">
                <div class="es_smalltitleimg">
                    <span class="d-inline-block text-truncate" style="max-width: 85px;">
                    여기에 간이제목이 들어갑니다.
                </span>
                </div>
            </div>
            <div class="es_smalltitle" draggable="true">
                <div class="es_smalltitleimg"></div>
                <span class="d-inline-block text-truncate" style="max-width: 85px;">
                    여기에 간이제목이 들어갑니다.
                </span>
            </div>
        <div class="es_smalltitle" draggable="true">
            <div class="es_smalltitleimg"></div>
            <span class="d-inline-block text-truncate" style="max-width: 85px;">
                여기에 간이제목이 들어갑니다.
            </span>
        </div>
    </div>
    <div class="es_todo3">
        <h1 class="es_text_catagorytitle">여행</h1>
        <!-- <div class="es_smalltitle"> -->
        <!-- </div> -->
    </div>
    <div class="es_todo4">
        <h1 class="es_text_catagorytitle">게임</h1>
        <!-- <div class="es_smalltitle"> -->
        <!-- </div> -->
    </div>
    <div class="es_todo5">
        <h1 class="es_text_catagorytitle">쇼핑</h1>
        <!-- <div class="es_smalltitle">
        </div> -->
    </div>
    <div class="es_todo6">
        <h1 class="es_text_catagorytitle">기타</h1>
        <!-- <div class="es_smalltitle">
        </div> -->
    </div>

</div>
<div class="test1", id ="test2">
    여기로 이동해야 한다. 
</div>












<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  게시글 작성
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">작성하기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mywishlist">
          <!--닉네임-->
          <a></a>

          <!--카테고리-->
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>-- 선택하기 --</option>
              <option value="투두" type="text">투두</option>
              <option value="위시" type="text">위시</option>
              <option value="리스트" type="text">리스트</option>
              <option value="추가" type="text">추가</option>
              <option value="추가2" type="text">추가2</option>
            </select>
          </div>

          <!--포스트잇-->
          <div>
            <input class="form-control" id="mypostit" type="text" placeholder="TITLE(POST-IT)"
              aria-label="default input example" maxlength="10"><br>
          </div>

          <!--date-->
          <div class="date">
            <label><input type="date" id="mydate"></label>
          </div>

          <!--한줄다짐(쳌박없음)-->
          <div>
            <input class="form-control" id="myoneline" type="text" placeholder="한줄다짐"
              aria-label="default input example">
          </div>


          <!--내용-->
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
          </div>


          <!--IMG-->
          <input type="url" name="url" id="myurl" placeholder="https://example.png" size="30" required>




        </div>
        <!--등록버튼-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick="save_wishlist()" class="btn btn-primary">등록</button>
        </div>
      </div>
    </div>
  </div>
</div><!--img아래로 이동해야함(등록버튼지울때 지우지않기)-->








<!--sh_list-->
<div class="sh-card-box">
  <div class="sh-scroll">
    <div class="row row-cols-1 g-4" id="mywishlist-list">
      <div class="col">
        <div class="card" style="width: 280px;">
          <div class="sh-heater-likebox">
            <div class="sh-heater-box">
              <div class="sh-heater">
                <p class="sh-title">이건 제 방 자랑입니다 읏헴헴</p>
              </div>

              <div class="sh-heater-in">
                <p class="sh-date">2001-11-24</p>
              </div>

            </div>


            <div class="sh-like-box">
              <div class="sh-like" onclick="like()"></div>
              <span class="sh-like-count">1124</span>
            </div>

          </div>

          <img src="https://i.postimg.cc/XYzpxgn7/output-2552536534.jpg" id="myurl" class="card-img-top" alt="...">

          <div class="card-body">
            <!--<h5 class="card-title">Card title</h5>-->
            <p class="card-text">자바고 </p>
            <div class="sh-username">by. sehe_e_</div>
          </div>

          <div class="card-footer">
            <small class="text-muted">[ MyHomeSweetHome ]</small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
{% endblock %}